.video-container {
  padding: 20px;
}

video {
  max-width: 100%;
  border: 1px solid;
}

.btn {
  display: block;
  margin-top: 20px;
}

.btn.active {
  background-color: blue;
}

.hidden {
  display: none;
}
